/* FONT STACK */
body,input,select,textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.1;
}

h4 {
	color: #179BC9;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

/* BASE LAYOUT */
html {
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	background: #ffffff;
	color: #333333;
	overflow-x: hidden;
	/* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	-moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	box-shadow: 0 0 0.3em #255b17;
}

.wrapper {
	
}

.header {
	background-color: whitesmoke;
	border-bottom: 2px solid #179BC9;
	
				box-shadow: 0 0 2px 2px #AAA;
		-moz-box-shadow: 0 0 2px 2px #AAA;
	-webkit-box-shadow: 0 0 2px 2px #AAA;
}

.subheader {
	margin: 0 auto;
	max-width: 960px;
	height: 135px;
}

.page {
	max-width: 960px;
	margin: 0 auto;
}

.page-bgtop {
	padding: 20px 0px 20px 0px;
}

.footer {
	color: black;
	font-size: 0.5em;
	margin-top: 5em;
	min-height: 1em;
	bottom: 0;
	padding: 10px 0px 10px 0px;
	clear:both;
	width: 100%;
	height: 100%;
	background: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	position:relative;	
					box-shadow: 0 0 2px 2px #AAA;
		-moz-box-shadow: 0 0 2px 2px #AAA;
	-webkit-box-shadow: 0 0 2px 2px #AAA;
	
}

.footer a {
	color: #000;
}

.kahuuLogo {
	float: left;
	margin-top: 20px;
}


/* Sidebar */

.sidebar {
	float: left;
	margin: 20px 5px 20px 20px;
	width: 24%;
}

.sidebar li {
	padding: 5px 0;
}

.sidebar li a {
	color: black;
	text-decoration: none;
	display: block;
}

.sidebar li:hover {
	background-color: whitesmoke;
}

.sidebar .box {
	margin-bottom: 10px;
}

#tituloBox {
	color: #179BC9;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

/* ANUNCIO */

.anuncio #titulo a {
	font-size: 12pt;
	color: black;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: pointer;
	text-decoration: none
}

.anuncio img {
	float: left;
	padding-right: 10px;
}

.anuncio #linea {
	font-size: 10pt;
	display: block;
	overflow-y: hidden;
	overflow-x: hidden;
	word-wrap: break-word;
	letter-spacing: 0.2px;
	text-align: justify;
}

.anuncio #link {
	font-size: 9pt;
	color: #48802C;
}

.anuncio .infoAnuncio {
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #E7E2DC;
}

/* Contenido */

.content {
	padding: 20px 15px 15px 250px;
	
}

.content #titulo h1 {
	margin: 0px 0px 10px 0px;
}

#video
{
	border-style:solid;
	border-width:5px;
	width: 560.4px;
	height: 315.4px;
}

/* GENERAL */

li {
	list-style: none;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,.ie7 body,.ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

a:link,a:visited,a:hover {
	color: #179BC9;
}

a:hover,a:active {
	outline: none;
	/* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	font-weight: normal;
	font-size: 1.25em;
	font-weight: bold;
}

ul {
	padding: 0;
}

img {
	border: 0;
	max-width:100%; max-height:100%;
}

.scaffold-list h1 {
	border: none;
}

.azul {
	background: #DFECF5;
	padding: 20px;
	margin-top: 20px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
	padding: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
	text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
	background-color: #179BC9;
	padding: 0.5em 0.75em;
	-moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	box-shadow: 0 0 3px 1px #aaaaaa;
	zoom: 1;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
	margin: 0 auto;
	max-width: 960px;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	padding: 0;
}

.nav a {
	color: #FFF;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.nav a:active,.nav a:visited {
	color: #FFF;
}

.nav a:focus,.nav a:hover {
	background-color: whitesnow;
	outline: none;
	color: #000;
}

.no-borderradius .nav a:focus,.no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home,.nav a.list,.nav a.create,.nav a.contact,.nav a.comments,.nav a.publicar,.nav a.quees
	{
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.comments {
	background-image: url(../images/skin/comments.png);
}

.nav a.contact {
	background-image: url(../images/skin/contactus.png);
}

.nav a.publicar {
	background-image: url(../images/skin/publicar.png);
}

.nav a.quees {
	background-image: url(../images/skin/quees.png);
}

.nav #derecha {
	float: right;
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,.property-list {
	zoom: 1;
	border: none;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 1em;
}

.fieldcontain label,.fieldcontain .property-label {
	color: #666666;
	width: 45%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

input,select,textarea {
	background-color: #fcfcfc;
	width: 95%;
	font-size: 15px;
	padding: 6px 3px;
	color: #2E3133;
	font-family: "Segoe UI", helvetica, Tahoma, Arial, sans-serif;
	border: 1px solid #CAD9E0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {

	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox],input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
	width: auto;
}

input:focus,select:focus,textarea:focus {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	-moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: red;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many,.ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */
fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */
.errors,.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	-moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	-moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50%
		no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50%
		no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */
.error input,.error select,.error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus,.error select:focus,.error textarea:focus {
	-moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */
input:invalid,select:invalid,textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus,select:invalid:focus,textarea:invalid:focus {
	-moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	box-shadow: 0 0 0.5em #ffaaaa;
}


/* PAGINATION */

.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	-moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
}

.pagination a,.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}

.pagination a:hover,.pagination a:focus,.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover,.no-borderradius .pagination a:focus,.no-borderradius .pagination .currentStep
	{
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* PROFILE */

.profile-up {
	height: 100px;
	word-wrap: break-word;
}

.profile-up h1 {
	margin: 0em 0 0.3em 0;
}

.profile-up img:first-child {
	float: left;
	margin-right: 10px;
	border: 3px solid black;
}

#telefono {
	margin-top: 20px;
	font-weight: bold;
	padding: 12px;
}

.profile-general {
	margin-bottom: 10px;
}

.profile-box {

	word-wrap: break-word;
}

.box-content { 
	.azul;
	text-align: justify;
	margin: 0px;
	padding: 12px
}

.box-header {
	margin-top: 10px;
	font-weight: bold;
	padding: 5px 0px;
}

.box #elegido {
	height: 10px;
	width: 5px;
	height: 18px;
	width: 5px;
	float: left;
	margin-right: 7px;
	background: #179BC9;
}

.content span {
	font-size: 10px;
	float: right;
}

/** LISTA DE PERFILES */

.post {
	margin-top: 10px;
	padding: 15px 15px 15px 15px;
}

.post > a:FIRST-CHILD
{
	position: absolute;
	display: block;
	height: 100px;
	width: 50%;
}

.post input {
	height: 20px;
	margin-right: 10px;
	margin-top: 20px;
	float: left;
}

.post a>img:first-child {
	float: left;
	border: 3px solid black;
}

.post .title {
	margin-left: 80px;
	padding: 0px 0px 0px 20px;
	letter-spacing: -.5px;
	font-size: 18px;
	font-weight: bold;
	word-wrap: break-word;
}

.post .title a {
	color: #000000;
	border: none;
	text-decoration: none;
}

.post .title .descripcion
{
	font-size: 12px;
	color: gray;
	margin-bottom: 10px;
}

.post .rating {
	position: relative;
	height: 30px;
	font-size: 11px;
	float: right;
}

#content-users {
	padding: 15px;
	float: right;
	width: 700px;
}

/* LOGIN */

#cuadroIzq {
	float: left;
	width: 42%;
	padding: 20px;
}

#cuadroDer {
	float: right;
	width: 45%;
	padding: 20px;
}

#cuadroIzq ul {
	margin-top: 10px;
}

#cuadroDer ul {
	margin-top: 10px;
}

.olvide {
	text-align: right;
	font-size: 14px;
	padding: 5px 10px 0px 0px;
}

/* SEARCH */

.searchLargo {
	padding: 15px;
	background: #EFEFEF;
	float: right;
	width: 53%;
	margin: 44px 10px 0px 0px;
	
			box-shadow: 0 0 3px 1px #AAA;
		-moz-box-shadow: 0 0 3px 1px #AAA;
	-webkit-box-shadow: 0 0 3px 1px #AAA;

}

#ingresarBoton {
	margin-top: 20px;
}

.input_buscador {
	background-color: #FCFCFC;
	border: 1px solid #CCC;
	font-size: 1.0em;
	padding: 0.4em 0.5em;
	width: 81%;
}

.searchLargo #buscar {
	border: 1px solid #CCC;
	font-size: 1em;
	padding: 0.4em 0.6em;
	background: url("../images/lupa.png") no-repeat center center;
	background-color: #179BC9;
	width: 70px;
	cursor: pointer;
}

/* REVIEWS */

.review {
	border-bottom: 2px dashed white;
	margin: 5px;
	padding-bottom: 10px;
	padding-top: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
}

.review #author {
	font-size: 12px;
}

.review #text_review {
	padding-top: 10px;
}

.review #header_review a {
	float: right;
	padding-left: 10px;
}


/* ACTION BUTTONS */

.buttons {
	margin-top: 10px;
}

.buttons input,.buttons a {
	cursor: pointer;
	background: #179BC9;
	color: white;
	padding: 12px 24px;
	text-shadow: 0px -1px 0px #2D86B3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: auto;
}

.buttons input:hover,.buttons input:focus,.buttons a:hover,.buttons a:focus {
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.no-borderradius .buttons input:hover,.no-borderradius .buttons input:focus,.no-borderradius .buttons a:hover,.no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.ie6 .buttons input.delete,.ie6 .buttons input.edit,.ie6 .buttons input.save,.ie7 .buttons input.delete,.ie7 .buttons input.edit,.ie7 .buttons input.save {
	padding-left: 36px;
}

a.skip {
	position: absolute;
	left: -9999px;
}

/* TABLES */
#tableIndex {
	width: 50%;
	margin: 0px auto;
}

table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child,tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child,tr>th:last-child {
	padding-right: 1.25em;
}

td,th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff),
		color-stop(1, #eaeaea) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=  '#ffffff',
		EndColorStr=  '#eaeaea' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link,th a:visited {
	color: #666666;
}

th a:hover,th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

th:hover,tr:hover {
	background: #E1F2B6;
}
